.main-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-size: 96px;
  height: 70vh;
  align-items: center;
  margin: 50px auto;
  padding-bottom: 50px;
}

.name-header {
  font-family: "Unica One", cursive;
  background: #003459;
  padding: 40px;
  opacity: 0.75;
  text-transform: uppercase;
  color: #7ea700;
}

.sub-header {
  font-family: "Lato", sans-serif;
  font-size: 42px;
  background: #7ea700;
  color: #003459;
  padding: 20px;
  opacity: 0.75;
  transform: translate(50%, -25%);
}
